<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-fall"
></ngx-spinner>
<div class="container mt-5">
  <app-add-new-post-form class="card card-body col-6 mx-auto mb-5" [posts]="posts" (onAddNewPost)="onAddNewPost($event)" (updatePost)="updatePost($event)">

  </app-add-new-post-form>
  <!-- /.app-add-new-post-form -->

  <div class="row">
    <app-post-item
      class="col col-6 mb-3"
      *ngFor="let post of posts"
      [post]="post"
      [comments]="comments"
      [isAdmin]="isAdmin"
      (deletePost)="onDelete($event)"
      (showComment)="onShowComment($event)"
      (editPost) = "onEdit($event)"
    ></app-post-item>
    <!-- /.col col-6 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
